<div class="submitDialog" layout = "column" layout-align = "center center" ng-controller = "SubmitCtrl">
  <!-- <form class="" name = "deleteForm" >
      <md-input-container class="md-block" flex = "100">

        <md-checkbox name="confirm" ng-model="task.confirm" required>Confirm</md-checkbox>

      </md-input-container> -->
      <h1>Are You Sure</h1>
    <div class="" layout = "row" layout-align = "center center">
      <a md-whiteframe = "2" ng-disabled="deleteForm.$invalid" ng-click = "deleteTask(task); answer('useful')" class="btn1" ng-disabled="true">Delete</a>
    </div>
  <!-- </form> -->
</div>
