<!-- <md-progress-linear md-mode="indeterminate" ng-show = "isLogin"></md-progress-linear> -->
  <section class="home-main" ng-controller = "MainCtrl">
  <div class="logo-row  " layout = "row" layout-wrap layout-xs = "column">
    <div class="  logo-left"  flex = "100" flex-gt-sm = "80" layout-align = "center">
      <span>BRCA IIT Delhi's</span>
      <h1>Rendezvous</h1>
      <h1>2017</h1>
    </div>
    <div class=" logo-right" flex = "100"  flex-gt-sm = "20" layout-align-xs = "center" >
      <div class="center right-box" layout-align = "center">
        <img src="images/logo.svg" alt="">
        <span>
          CAMPUS AMBASSADOR PROGRAM
        </span>
      </div>
    </div>

  </div>
  <div class="register-button" layout = "row" layout-align = "center">
    <div class=" center valign-wrapper" layout-align = "center" layout = "column">
      <!-- <button class="button"   layout-align = "center">
        Login with facebook
        <md-tooltip md-direction="top">Firsh Sigup through Facebook</md-tooltip>
      </button> -->
      <button class="button md-raised md-primary" fb-login ng-click = "login()" layout-align = "center">
        Login with facebook
        <md-tooltip md-direction="top">Login</md-tooltip>
      </button>

    </div>
  </div>


  </section>
