<div class="right-main" ng-controller = "PendingCtrl">

  <div class=" leader-head" layout = "row" >
    <h1>Pending Approvals</h1>
  </div>
  <div class="tables-container">
  <div class="leaderboard" layout = "row" md-white-frame = "1">
    <div class="" flex = "5">
      S.No
    </div>
    <div class="" flex = "10">
      Post ID
    </div>
    <div class="" flex = "20">
      Name
    </div>
    <div class="" flex = "40">
      Post URL
    </div>
    <div class="" flex = "20">
      Allot Points
    </div>
    <div class="" flex = "15">
      Action
    </div>
  </div>
  <div class="leaderboard" layout = "row" ng-repeat = "x in pendingData">
    <div class="" flex = "5">
      {{$index+1}}
    </div>

    <div class="" flex = "10">
      {{x.task_id}}
    </div>
    <div class="" flex = "20">
      {{x.name}}
    </div>
    <div class="" flex = "40">
      <a href = {{x.url}}>{{x.url}}</a>
    </div>
    <!-- {{x.uuid}} -->
    <div class="" flex = "20">
      <input class="input-points" name="points" ng-model = "x.allot_points" placeholder="Allot Points">
    </div>
    <div class="" flex = "15">
      <a md-whiteframe = "2" class="btn2" ng-click = "submitPending(x)" ng-disabled="isSubmit">Approve</a>
    </div>

  </div>
</div>
</div>
