<div class="submitDialog" layout = "column" layout-align = "center center" ng-controller = "SubmitCtrl">
  <form class="" name = "submissionForm" >
      <md-input-container class="md-block" flex = "100">
        <label>Post Url</label>
        <input required md-no-asterisk name="image_url" ng-model="task.image_url">
        <div ng-messages="submissionForm.image_url.$error">
          <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex = "100">
      <label>Post Details</label>
      <textarea required md-no-asterisk name="detail" ng-model="task.detail"></textarea>
      <div ng-messages="submissionForm.detail.$error">
        <div ng-message="required">This is required.</div>
      </div>
  </md-input-container>
    <div class="" layout = "row" layout-align = "center center">
      <a md-whiteframe = "2" ng-click = "submitTask(task); answer('useful')" class="btn1" ng-disabled="true">Submit</a>
    </div>
  </form>
</div>
