<div class="right-main" ng-controller = "SubmissionCtrl">
<div class=" leader-head" layout = "row" >
  <h1>My submissions</h1>
</div>
<div class="tables-container">
<div class="leaderboard" layout = "row" md-white-frame = "1" md-whiteframe = "1">
  <div class="" flex = "10">
    S.No
  </div>
  <div class="" flex = "15">
    Task Id
  </div>
  <div class="" flex = "50">
    Submission Url
  </div>
  <div class="" flex = "15">
    Points
  </div>
  <div class="center" flex = "10">
    Checked
  </div>
</div>
<div class="leaderboard" layout = "row" ng-repeat = "x in submissionData " md-whiteframe = "1">
  <div class="valign-wrapper" flex = "10">
    {{$index +1}}
  </div>
  <div class="valign-wrapper" flex = "15" >

    {{x.task_id}}
  </div>
  <div class="valign-wrapper" flex = "50">
    <a href = {{x.url}}>{{x.url}}</a>
  </div>
  <div class="valign-wrapper" flex = "15">
    {{x.points/1000000000000000 | number:0}}
  </div>
  <div class="valign-wrapper" flex = "10" layout-align = "center">
    <span ng-class="{'checked':!x.is_checked==0}" class="not-checked">

    </span>

  </div>

</div>
</div>
</div>
