.center-margin {
  margin: 0 auto;
}

.not-visible {
  visibility: hidden;
}

.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}
.center {
  text-align: center;
}

.test {
  border: 1px solid red;
}

.outline-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  box-shadow: 0 0 0 2px #cecccc inset;
  margin: auto;
  padding: 10px 24px;
  position: relative;
  cursor: pointer;
  color: #222222;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.outline-button::before, .outline-button::after {
  content: "";
  position: absolute;
  height: 0;
  width: 2px;
  -webkit-transition: height 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: height 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.outline-button::before {
  box-shadow: 2px 2px 0 #000000 inset;
  bottom: 0;
  left: 0;
}

.outline-button::after {
  box-shadow: -2px -2px 0 #000000 inset;
  top: 0;
  right: 0;
}

.outline-button:hover::before, .outline-button:hover::after {
  height: 100%;
  width: 100%;
  -webkit-transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.main-div {
  overflow: hidden;
  height: 100vh;
  position: relative;
}
.main-div .nav-icon {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 40px;
  color: #ffffff;
}

.main-left {
  min-height: 100%;
  background-color: #455A64;
  background-size: cover;
  position: relative;
  padding: 150px 20px 20px 150px;
  font-family: "Dosis", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 0;
}
.main-left .left-content {
  max-width: 87%;
  position: relative;
  z-index: 4;
  padding: 20px;
}
.main-left .left-content .overlay-left {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  background-color: rgba(38, 50, 56, 0.5);
  z-index: -3;
}
.main-left .left-content span {
  color: #ffffff;
  font-size: 1.3em;
  overflow: scroll;
  max-width: 100%;
  overflow: auto;
  padding: 5px;
}
.main-left .left-content h1 {
  font-size: 2.2em;
  color: #ffffff;
  margin: 5px 0px;
}
.main-left .left-content h3 {
  font-size: 1.5em;
  color: #ffffff;
}
.main-left img {
  position: absolute;
  top: 5px;
  height: 17%;
  left: 5%;
}
.main-left .headline {
  position: relative;
}
.main-left .outline-button {
  position: absolute;
  right: 0%;
}
.main-left .outline-button a {
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .main-left {
    padding: 20px;
  }
}
@media only screen and (max-width: 599px) {
  .main-left {
    padding: 10px;
  }
}
.main-right {
  min-height: 100%;
  background-color: #000000;
  font-family: "Dosis", sans-serif;
  color: #ffffff;
  padding: 0;
  z-index: 4;
}
.main-right h1 {
  color: #ffffff;
  margin: 0;
  padding: 20px 10px;
  font-size: 3em;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  border-bottom: 1px solid #BDBDBD;
}
.main-right .tab-list {
  height: 100vh;
  font-family: "Dosis", sans-serif;
  font-size: 1.5em;
  list-style-type: none;
  color: #ffffff;
  padding: 0;
  margin: 0;
  overflow: scroll;
  padding-bottom: 100px;
}
.main-right .tab-list li {
  height: 10vh;
  padding: 10px 20px;
  border-bottom: 1px solid #BDBDBD;
  -webkit-transition-property: background-color;
  /* Safari */
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-property: background-color;
  transition-duration: 0.7s;
  -webkit-transition-property: color;
  /* Safari */
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-property: color;
  transition-duration: 0.7s;
}
.main-right .tab-list li:hover {
  background-color: #212121;
  background-size: cover;
  cursor: pointer;
  color: #E91E63;
}

.events-at-glance-head {
  min-height: 15vh;
  padding: 20px 0px;
  background-image: url("../images/bg3.png");
  background-color: #ffffff;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  z-index: 5;
  position: fixed;
  top: 0;
  line-height: 80%;
  width: 100%;
}
.events-at-glance-head .header-img {
  position: absolute;
  height: 15vh;
  width: auto;
  left: 5%;
  top: 3%;
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .events-at-glance-head .login-card {
    width: 60%;
  }
}
@media only screen and (max-width: 599px) {
  .events-at-glance-head .header-img {
    height: 12vh;
    width: auto;
    margin: 0 auto;
  }
  .events-at-glance-head .events-at-glance-head {
    padding: 40px 0px;
  }
}
.events-at-glance-head .headline-comp {
  line-height: 400%;
}
.events-at-glance-head .r1 {
  position: absolute;
  left: 12%;
  height: 100%;
  bottom: 0;
}
.events-at-glance-head .r2 {
  position: absolute;
  right: 12%;
  top: -30%;
  height: 100%;
}
.events-at-glance-head h1 {
  font-family: "Nixie One", cursive;
  font-size: 4em;
  color: #000;
  padding: 0;
  margin: 5vh auto 0 auto;
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .events-at-glance-head h1 {
    font-size: 3em;
  }
}
@media only screen and (max-width: 599px) {
  .events-at-glance-head h1 {
    font-size: 2.2em;
    margin: auto;
  }
}
.events-at-glance-head h4 {
  font-family: "Advent Pro", sans-serif;
  font-size: 1.3em;
  color: #ffffff;
  margin: 0;
  padding: 0;
  z-index: 100;
}
.events-at-glance-head .read-more {
  position: absolute;
  bottom: 10%;
  width: 100%;
}
.events-at-glance-head .outline-button {
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
}

.home-glance {
  padding-top: 15vh;
}

.events-at-glance .div-flex {
  height: 55vh;
  position: relative;
}
.events-at-glance .div-flex .main-head {
  position: absolute;
  top: 20%;
  left: 5%;
}
.events-at-glance .div-flex .sub-head {
  position: absolute;
  top: 30%;
  left: 5%;
  font-size: 1.6em;
  margin-bottom: 10px;
}
.events-at-glance .div-flex .outline-button {
  position: absolute;
  top: 50%;
  left: 5%;
  border-color: #ffffff;
  z-index: 4;
  color: #ffffff;
  text-decoration: none;
}
.events-at-glance .div-flex h1 {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 3;
  color: #ffffff;
  font-family: "Dosis", sans-serif;
}
.events-at-glance .div-flex img {
  width: 100%;
  height: 100%;
}
.events-at-glance #overlay-events {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.events-at-glance .eventsbg1 {
  background-color: #81D4FA;
}
.events-at-glance .eventsbg1:hover {
  background-color: transparent;
}
.events-at-glance .eventsbg1 {
  background-color: rgba(187, 222, 251, 0.25);
  -webkit-transition-property: background-color;
  /* Safari */
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-property: background-color;
  transition-duration: 0.5s;
}
.events-at-glance .eventsbg1:hover {
  background-color: transparent;
  cursor: pointer;
}
.events-at-glance .eventsbg2 {
  background-color: rgba(225, 190, 231, 0.25);
  -webkit-transition-property: background-color;
  /* Safari */
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-property: background-color;
  transition-duration: 0.5s;
}
.events-at-glance .eventsbg2:hover {
  background-color: transparent;
  cursor: pointer;
}
.events-at-glance .eventsbg3 {
  background-color: rgba(255, 204, 188, 0.25);
  -webkit-transition-property: background-color;
  /* Safari */
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-property: background-color;
  transition-duration: 0.5s;
}
.events-at-glance .eventsbg3:hover {
  background-color: transparent;
  cursor: pointer;
}
.events-at-glance .eventsbg4 {
  background-color: rgba(255, 224, 178, 0.25);
  -webkit-transition-property: background-color;
  /* Safari */
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-property: background-color;
  transition-duration: 0.5s;
}
.events-at-glance .eventsbg4:hover {
  background-color: transparent;
  cursor: pointer;
}
.events-at-glance .eventsbg5 {
  background-color: rgba(197, 202, 233, 0.25);
  -webkit-transition-property: background-color;
  /* Safari */
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-property: background-color;
  transition-duration: 0.5s;
}
.events-at-glance .eventsbg5:hover {
  background-color: transparent;
  cursor: pointer;
}
.events-at-glance .eventsbg6 {
  background-color: rgba(27, 94, 32, 0.25);
  -webkit-transition-property: background-color;
  /* Safari */
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-property: background-color;
  transition-duration: 1s;
}
.events-at-glance .eventsbg6:hover {
  background-color: transparent;
  cursor: pointer;
}

.club-events {
  background-image: url("../images/bg3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 6vh;
}

.events-grid {
  padding: 10px;
}
.events-grid .events-link {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 4;
}
.events-grid .events-col1 {
  width: 100%;
  margin: 10px;
  padding: 20px;
  font-family: "Advent Pro", sans-serif;
  color: #263238;
  font-size: 3vh;
  margin-top: 0;
  margin-bottom: 0;
}
.events-grid .events-col1 h1 {
  margin: 0;
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .events-grid .events-col1 {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 599px) {
  .events-grid .events-col1 {
    margin: 0 auto;
  }
}
.events-grid .events-col {
  height: 40vh;
  width: 100%;
  margin: 10px;
  background-color: rgba(176, 190, 197, 0.5);
  background-size: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}
.events-grid .events-col:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.events-grid .events-col h1 {
  font-size: 1.9em;
  margin: 0 auto;
  font-family: "Dosis", sans-serif;
  color: #263238;
}
.events-grid .events-col .events-grid-overlay {
  position: absolute;
  bottom: 0;
  height: 5vh;
  width: 100%;
  background-color: #ECEFF1;
}
.events-grid .events-col .events-grid-overlay a {
  text-decoration: none;
}
.events-grid .events-col .events-grid-overlay a h1 {
  font-size: 1.2em;
  padding: 5px;
}
@media only screen and (min-width: 992px) {
  .events-grid .events-col {
    height: 30vh !important;
  }
}

.slick-container {
  width: 500px;
  border: 1px solid gray;
  margin: auto;
  padding: 15px;
}

.slick-item img {
  margin: auto;
}

.pronites-page {
  padding-top: 15vh;
}
.pronites-page .head-pronite {
  padding: 10px;
  margin: 0;
}
.pronites-page .carousel-pronites {
  padding: 0px;
  height: 85vh;
  width: 100%;
}
.pronites-page .carousel-pronites ul {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.pronites-page .carousel-pronites ul .pronite-left img {
  height: 100%;
  width: 100%;
}
.pronites-page .carousel-pronites ul .pronite-right img {
  height: 100%;
  width: 100%;
}

.login-page {
  height: 100vh;
  background-image: url("../images/bg1.png");
  font-family: "Dosis", sans-serif;
  position: relative;
  padding-top: 20vh;
}
.login-page .header-img {
  position: absolute;
  height: 15vh;
  width: auto;
  left: 5%;
  top: 1%;
}
.login-page .logo-img-header {
  height: 10vh;
  position: absolute;
  top: 0%;
  width: 100%;
}
.login-page .logo-img-header a {
  margin: auto;
}
.login-page .signup-link a {
  text-decoration: none;
  color: #263238;
  font-size: 1.2em;
}
.login-page .signup-link a span {
  color: #da3b32;
  font-weight: bold;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .login-page {
    padding-top: 15vh;
  }
}
@media only screen and (max-width: 599px) {
  .login-page {
    padding-top: 15vh;
  }
}
.login-card {
  min-height: 40%;
  width: 25%;
  text-align: center;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease-in-out;
  padding: 20px;
  margin: 0 auto;
  border-radius: 3px;
}
.login-card md-icon {
  color: #0D47A1;
}
.login-card .login-head {
  font-size: 2em;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .login-card {
    width: 60%;
    min-height: 60%;
  }
}
@media only screen and (max-width: 599px) {
  .login-card {
    width: 80%;
    min-height: 70%;
  }
}
.login-card1 {
  min-height: 60%;
  width: 30%;
  text-align: center;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease-in-out;
  padding: 20px;
  margin: 0 auto;
  border-radius: 3px;
  margin-bottom: 10vh;
}
.login-card1 md-icon {
  color: #0D47A1;
}
.login-card1 .login-head {
  font-size: 2em;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .login-card1 {
    width: 60%;
  }
}
@media only screen and (max-width: 599px) {
  .login-card1 {
    width: 90%;
  }
}
.otp-dialog {
  padding: 20px;
}
.otp-dialog h1 {
  font-size: 1.5em;
  font-size: "Dosis", sans-serif;
  padding: 10px;
}

.register-email {
  min-height: 20vh;
}
.register-email h1 {
  font-size: 1.7em;
  padding: 5px;
  margin: 0;
  font-family: "Advent Pro", sans-serif;
}
.register-email span {
  font-size: 1.5em;
  font-family: "Dosis", sans-serif;
}

.user-name {
  position: fixed;
  bottom: 2%;
  left: 0;
  padding: 10px;
  z-index: 10000;
  font-size: 2em;
  font-family: "Dosis", sans-serif;
  color: #263238;
  background-color: #78909c;
}

.logo-header {
  position: absolute;
  height: 15vh;
  width: auto;
  left: 5%;
  top: 1%;
}

/* applies only if the screen is more than 500px */
.cover-head {
  color: #222222;
  text-shadow: 2px 2px 8px grey;
}

.cover-head {
  font-family: "Nixie One", cursive;
  letter-spacing: -2px;
  font-size: 2.8em;
  /*font-weight: 700;*/
  text-shadow: 0 0 30px #EC637B, 0 0 10px rgba(230, 161, 173, 0.41), 0 0 100px #E6A1AD, 0 0 500px #F36780, 5px 9px 5px rgba(0, 0, 0, 0.5);
}

.login-page2 {
  padding-top: 20vh;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .comp-header-img {
    height: 10vh;
    width: auto;
  }

  .cover-head {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 599px) {
  .comp-header-img {
    height: 10vh;
    width: auto;
  }

  .cover-head {
    font-size: 1.8em;
  }
}
