/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import "compass/css3";
@import "compass";
@import "compass/reset";
@import "compass/css3";

/* Primary Styles
---------------------------------*/
body {
	background-color: #eaeaff;
}

img{ max-width:100%;}

/* Pre-loader starts*/
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	overflow: hidden;
}
.no-js #loader-wrapper {
	display: none;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #16a085;
	-webkit-animation: spin 1.7s linear infinite;
	animation: spin 1.7s linear infinite;
	z-index: 11;
}
#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;
	-webkit-animation: spin-reverse .6s linear infinite;
	animation: spin-reverse .6s linear infinite;
}
#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes spin-reverse {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
	}
}
@keyframes spin-reverse {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #222;
	z-index: 10;
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 0.3s 1s ease-out;
	transition: all 0.3s 1s ease-out;
}
/*Pre-loader ends*/

/*Video Starts*/
.video-container {
	position: relative;
	left: 0;
	height: 100%;
	width: 100%;
}

.video-container .fillWidth {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.mobile-landing {
	display: none;
}

@media screen and (max-width: 500px) {
	/* applies only if the screen is more than 500px & less than 1500px*/
	.video-container {
		display: none;
	}

	.video-container .fillWidth {
		display: none;
	}

	.mobile-landing {
		display: block;
	}
}

/*Video Ends*/

/*Scroll Button*/
.scroll a span {
	position: absolute;
	top: 92vh;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 2px solid #FFFEFF;
	border-bottom: 2px solid #FFFEFF;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb04 2s infinite;
	animation: sdb04 2s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb04 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}
/*Scroll Button Ends*/

/*Side menu bar*/
.burger {
	position: fixed;
	z-index: 2001;
	right: 25px;
	top: 25px;
	cursor: pointer;
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty {
	width: 28px;
	height: 2px;
	margin: 0 0 4px 0;
	background: rgba(229,57,53 ,1);
	-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty:last-child {
	margin-bottom: 0;
}

.burger--close {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.burger--close .burger__patty:nth-child(1) {
	-webkit-transform: rotate(45deg) translate(4px, 4px);
	transform: rotate(45deg) translate(4px, 4px);
}

.burger--close .burger__patty:nth-child(2) {
	opacity: 0;
}

.burger--close .burger__patty:nth-child(3) {
	-webkit-transform: rotate(-45deg) translate(5px, -4px);
	transform: rotate(-45deg) translate(5px, -4px);
}

.menu {
	position: fixed;
	top: 0;
	width: 100%;
	visibility: hidden;
	z-index: 2000;
}

.menu--active {
	visibility: visible;
}

.menu__brand, .menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	/*-webkit-box-pack: center;
	-ms-flex-pack: center;*/
	/*justify-content: center;*/
	float: left;
	width: 50%;
	height: 100vh;
	overflow: hidden;
	/*padding-top:100px;*/
}

.menu-list-left{
	padding: 0;
	margin: 0;
	text-align: center;
}
.test{
	border: 1px solid red;
}



.menu__list {
	margin: 0;
	padding: 0;
	/*background: rgba(96,125,139 ,0.1);*/
	background-color: rgba(255,255,255,0.9);
	list-style-type: none;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
	position: relative;
	padding-top: 120px;
}

.menu__list li{
	line-height: 150%;
}

.menu__list a {
	font-family: 'Dosis', sans-serif;
	color: #000;
}

.menu__list--active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.blur1{
	position: absolute;
	width: 100%;
	height: 100%;
	/*background-color: rgba(255,255,255,0.8);*/
}

.menu__brand {
	/*background: rgba(96,125,139 ,0.1);*/
	background-color: rgba(255,255,255,0.9);
	-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	position: relative;
	padding-top: 120px;
}

.menu__brand ul{
	list-style-type: none;
}

.menu__brand ul li{
	padding: 4px;
	line-height: 150%;
}

.menu__brand li a {
	font-family: 'Dosis', sans-serif;
	color: #000;
}

.menu__brand--active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.menu__item {
	margin-top: 10px;
	-webkit-transform: translate3d(500px, 0, 0);
	transform: translate3d(500px, 0, 0);
	-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__item a{
	text-decoration: none;
}

.menu__item--active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.menu__link {
	display: inline-block;
	position: relative;
	font-size: 30px;
	padding: 15px 0;
	font-weight: 300;
	color: white;
	text-decoration: none;
	color: white;
	-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__link:hover{
	color: rgba(229,57,53 ,1);
}

.menu__link:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 10px;
	height: 2px;
	background: #000;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__link:hover:before {
	width: 100%;
	background:rgba(229,57,53 ,1);
}

.menu .menu__item:nth-child(1) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.menu .menu__item:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menu .menu__item:nth-child(3) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu .menu__item:nth-child(4) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.menu .menu__item:nth-child(5) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.menu .menu__item:nth-child(6) {
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

@media screen and (max-width: 768px) {
	ul.menu__list,
	div.menu__brand {
		float: none;
		width: 100%;
		min-height: 0;
	}

	ul.menu__list--active,
	div.menu__brand--active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.menu__list {
		height: 75vh;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		padding: 0;
		padding-top: 10vh;
	}

	.menu__brand {
		height: 25vh;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		padding: 0;
		min-height: 10vh;
	}

	.menu__brand ul {
		padding: 0;
		margin: 0;

	}

	.menu__brand ul li{
		float: left;
	}

	.menu__brand ul li a{
		font-size: 25px;
	}

	.menu__brand .logo {
		width: 90px;
		height: 90px;
	}

	.menu__list img {
		display: none;
	}
}

.nav-logo {
	width: 200px;
	height: 200px;
	background: #1a1a1a;
	border-radius: 50%;
}

.support {
	position: fixed;
	bottom: 24px;
	color: rgba(0, 0, 0, 0.6);
}
/*side menu bar ends*/

/* Main section */

/*
.main-section{
	padding:56px 0 80px;
}
*/

.main-fool {
	background-image: url("../img/main-fool-2.png");
	background-repeat: no-repeat;
	background-position: right -100px;
}

@media screen and (min-width: 500px) and (max-width: 1500px) {
	/* applies only if the screen is more than 500px & less than 1500px*/
	.main-fool {
		background-image: url("../img/main-fool-2.png");
		background-repeat: no-repeat;
		background-position: 420px -340px;
	}
}

@media screen and (max-width: 500px) {
	/*applies only if the screen is less than 500px*/
	.main-fool {
		background-image: none !important;
	}
}

.introduction {
	padding-left: 20px;
}

#u338 {
	width: 64px;
	float: left;
	margin-top: 16px;
}

.rdv-content {
	margin-left: 80px;
	max-width: 1400px;
}

.rdv-head {
	color: #000000;
	font-size: 88px;
	line-height:96px;
	font-family: 'Advent Pro', sans-serif;
	font-weight: 700;
	text-decoration: none;
}

.boho-arrow {
	display: none;
}

@media screen and (min-width: 500px) and (max-width: 1500px) {
	/* applies only if the screen is more than 500px & less than 1500px*/
	.rdv-content {
		margin-left: 40px;
		max-width: 1000px;
	}

	.rdv-head {
		color: #000000;
		font-size: 80px;
		line-height:96px;
		font-family: 'Advent Pro', sans-serif;
		font-weight: 700;
		text-decoration: none;
	}

	.break {
		display: none;
	}
}

#ticker {
	list-style: none;
	min-height: 100px;
}

#mob-ticker {
	display: none;
}

.para-wrap {
	margin-left: 48px;
}

.para-content {
	line-height: 40px;
	font-size: 24px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
}

.dates {
	color: #E21E79;
}

.main-btn-wrap {
	padding-top: 32px;
	margin-left: 48px;
}

.outline-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
	box-shadow: 0 0 0 2px #cecccc inset;
	margin: auto;
	padding: 10px 24px;
	position: relative;
	cursor: pointer;
	color:#222222;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	-webkit-transition: .6s; /* Safari */
	-webkit-transition-timing-function: ease; /* Safari */
	transition: .6s;
	transition-timing-function: ease-in-out;
	transition-duration: 1s;
}

/*
.outline-button:hover {
	font-weight: 700;
}
*/

.outline-button::before, .outline-button::after {
	content: "";
	position: absolute;
	height: 0;
	width: 2px;
	-webkit-transition: height 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
	transition: height 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.outline-button::before {
	box-shadow: 2px 2px 0 #000000 inset;
	bottom: 0;
	left: 0;
}

.outline-button::after {
	box-shadow: -2px -2px 0 #000000 inset;
	top: 0;
	right: 0;
}

.outline-button:hover::before, .outline-button:hover::after {
	height: 100%;
	width: 100%;
	-webkit-transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1);
	transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.pass {
	margin-left: 16px;
}

.mob-btn {
	display: none;
}


@media screen and (max-width: 500px) {
	/*applies only if the screen is less than 500px*/
	.introduction {
		padding-left: 0;
		margin-left: 0;
	}

	#u338 {
		display: none;
	}

	.rdv-content {
		margin-left: 0;
		margin-right: 0;
	}

	.rdv-head {
		color: #000000;
		font-size: 35px;
		font-family: 'Advent Pro', sans-serif;
		font-weight: 700;
		text-decoration: none;
		margin-left: -24px;
	}

	.para-wrap {
		text-align: left;
		margin-left: 16px;
		margin-right: 16px;
	}

	.para-content {
		font-size: 16px;
		font-family: 'Dosis', sans-serif;
		font-weight: 400;
	}

	.main-btn-wrap {
		padding-top: 32px;
		margin-left: 48px;
	}

	#ticker {
		display: none;
	}

	#mob-ticker {
		display: block;
		list-style: none;
		min-height: 100px;
	}

	.pass {
		margin-left: 0;
	}

	.main-btn-wrap {
		margin-left: 16px;
	}

	.mob-btn {
		display: block;
	}

	.boho-arrow {
		display: block;
		width: 35%;
		margin-left: 18vh;
		margin-top: 40px;
	}
}

@media screen and (max-width: 350px) {
	/*applies only if the screen is less than 500px*/
	.introduction {
		padding-left: 0;
		margin-left: 0;
	}

	#u338 {
		display: none;
	}

	.rdv-content {
		margin-left: 0;
		margin-right: 0;
	}

	.rdv-head {
		color: #000000;
		font-size: 30px;
		font-family: 'Advent Pro', sans-serif;
		font-weight: 700;
		text-decoration: none;
		margin-left: -24px;
	}

	.para-wrap {
		text-align: left;
		margin-left: 16px;
		margin-right: 16px;
	}

	.para-content {
		font-size: 13px;
		font-family: 'Dosis', sans-serif;
		font-weight: 400;
	}

	.main-btn-wrap {
		padding-top: 32px;
		margin-left: 48px;
	}

	#ticker {
		display: none;
	}

	#mob-ticker {
		display: block;
		list-style: none;
		min-height: 100px;
	}

	.pass {
		margin-left: 0;
	}

	.main-btn-wrap {
		margin-left: 16px;
	}

	.mob-btn {
		display: block;
	}

	.boho-arrow {
		display: block;
	}

	.boho-arrow {
		display: block;
		width: 35%;
		margin-left: 104px;
		margin-top: 40px;
	}
}


/* Main section end */

/* Services
---------------------------------*/

.service-list {
}

.service-list-col1 {
	width:60px;
	float: left;
}

.service-list-col2 {
	margin-left:96px;
	margin-top: 40px;
}

.foot-list {
	float: left;
	margin-left: 300px;
}

.foot-description {
	margin-left: 630px;
	text-align: center;
}

@media screen and (min-width: 500px) and (max-width: 1500px) {
	/* applies only if the screen is more than 500px & less than 1500px*/
	.service-list-col1 {
		width:60px;
		float: left;
	}

	.service-list-col2 {
		margin-left:96px;
		margin-top: 40px;
	}

	.foot-list {
		float: left;
		margin-left: 320px;
	}

	.foot-description {
		margin-left: 630px;
		text-align: center;
	}
}


.service-list-col2 h3 {
	font-size: 24px;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
}

.alabaster {
	padding-top: 600px;
	padding-bottom: 64px;
	background-image: url("../img/bandi-fool-2.png");
	background-repeat: no-repeat;
	background-size: 608px 700px;
	background-position: left bottom;
}

@media screen and (min-width: 500px) and (max-width: 1500px) {
	/* applies only if the screen is more than 500px & less than 1500px*/
	.alabaster {
		padding-top: 352px;
		padding-bottom: 64px;
		background-image: url("../img/bandi-fool-2.png");
		background-repeat: no-repeat;
		background-size: 368px 440px;
		background-position: left 400px;
	}
}

@media screen and (max-width: 500px) {
	/*applies only if the screen is less than 500px*/
	.alabaster {
		padding-top: 40px;
		padding-bottom: 40px;
		background-image: none !important;
	}
}

.show-head {
	color: #000000;
	font-size: 56px;
	font-family: 'Advent Pro', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}
.show-content {
	line-height: 40px;
	font-size: 24px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
}

.bandi-fool {
	background-image: url("../img/fly-fool-2.png");
	background-repeat: no-repeat;
	background-size: 300px 400px;
	background-position: 0 10px;
}

@media screen and (max-width: 500px) {
	/*applies only if the screen is less than 500px*/
	.bandi-fool {
		background-image: none !important;
	}
}

.par-btn {
	margin-top: 32px;
}

.show-arrow {
	margin-top: 32px;
}

.show-arrow img {
	width: 128px;
}


@media screen and (max-width: 500px) {
	/*applies only if the screen is less than 500px*/
	.foot-description {
		margin-left: 0;
	}

	.foot-list {
		display: none;
	}

	.show-head {
		color: #000000;
		font-size: 35px;
		font-family: 'Advent Pro', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
	}
	.show-content {
		text-align: left;
		font-size: 16px;
		font-family: 'Dosis', sans-serif;
		font-weight: 400;
		margin-left: 16px;
		margin-right: 16px;
	}
}

@media screen and (max-width: 350px) {
	/*applies only if the screen is less than 500px*/
	.foot-description {
		margin-left: 0;
	}

	.foot-list {
		display: none;
	}

	.show-head {
		color: #000000;
		font-size: 30px;
		font-family: 'Advent Pro', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
	}
	.show-content {
		text-align: left;
		font-size: 13px;
		font-family: 'Dosis', sans-serif;
		font-weight: 400;
		margin-left: 16px;
		margin-right: 16px;
	}
}

/* main-heading-3
---------------------------------*/
.main-heading-3Container{
	max-width: 1140px;
}

.main-heading-3-nav{
	padding:0;
	margin:0 0 45px 0;
	list-style:none;
	text-align:center;
}

.main-heading-3-nav li{
	margin:0 10px;
	display:inline;
}

.main-heading-3-nav li a{
	display:inline-block;
	padding:10px 22px;
	font-size:16px;
	line-height:20px;
	color:#222222;
	border-radius:4px;
	text-transform:uppercase;
	background:#f7f7f7;
	margin-bottom:5px;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.main-heading-3-nav li a:hover{
	background:#dddddd;
	text-decoration:none;
}

.main-heading-3Container{
	margin:0 auto;
	padding-left:15px;
}

.main-heading-3-box{
	text-align:center;
	margin-bottom:30px;
	overflow:hidden;
}

.main-heading-3-nav li a.current{
	background:#dddddd;
	text-decoration:none;
}

.main-heading-3-box a .name {
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 5px;
	color: white;
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
	background-color: #444444;
	font-size: 20px;
	letter-spacing: .1em;
	position: absolute;
	display: block;
	top: 40%;
	left: 0;
	text-align: center;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	z-index: 2;
	width: 100%;
	/*height: 100%;*/
}

.main-heading-3-box a:hover .name {
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.main-heading-3-box a:hover img {
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	background-position: top top;
	-webkit-filter: grayscale(0.4) blur(2px);
	filter: grayscale(0.4) blur(2px);
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.main-heading-3-box a img {
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	-moz-transform: scale(1.09, 1.09);
	-ms-transform: scale(1.09, 1.09);
	-webkit-transform: scale(1.09, 1.09);
	transform: scale(1.09, 1.09);
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.high-name-image {
	display: block;
}

.high-head {
	float: left;
	color: #000000;
	font-size: 56px;
	margin-top: 56px;
	font-weight: 700;
	font-family: 'Advent Pro', sans-serif;
	text-transform: uppercase;
}

.high-arrow {
	width: 40px;
	margin-left: 104px;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

/* no transition on .isotope container */

.isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	transition-property:         transform, opacity;
}

.paddind{
	padding-top: 160px;
	padding-bottom: 56px;
	background-image: url("../img/feathers-2.png");
	background-repeat: no-repeat;
	background-size: 1330px;
	background-position: right top;
}

.mob-highlights {
	display: none;
}

@media screen and (max-width: 500px) {
	/*applies only if the screen is less than 500px*/
	.paddind {
		padding-top: 0;
		padding-bottom: 40px;
		background-image: none !important;
	}

	.high-head {
		color: #000000;
		font-size: 35px;
		font-family: 'Advent Pro', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 40px;
		float: left;
	}

	.high-arrow {
		width: 28px;
		margin-left: 64px;
		-ms-transform: rotate(90deg);
		margin-top: 14px;
	}

	.main-heading-3Filter {
		display: none;
	}

	.main-heading-3-nav {
		display: none;
	}

	.main-heading-3Container{
		display: none;
	}

	.mob-highlights {
		display: block;
	}

	.main-heading-3-box img {
	}
}

.team{
	padding:32px 0;
	padding-bottom: 48px;
}
.team h6{
	margin-bottom:40px;
}

.team-head {
	color: #000000;
	font-size: 56px;
	font-weight: 700;
	font-family: 'Advent Pro', sans-serif;
	text-align: center;
}

.team-fool {
	background-image: url("../img/team-fool-2.png");
	background-repeat: no-repeat;
	background-size: 750px 700px;
	background-position: -16% 75%;
}

@media screen and (min-width: 500px) and (max-width: 1500px) {
	/* applies only if the screen is more than 500px & less than 1500px*/
	.team-fool {
		background-image: url("../img/team-fool-2.png");
		background-repeat: no-repeat;
		background-size: 750px 700px;
		background-position: -37% 75%;
	}
}

@media screen and (max-width: 500px) {
	/*applies only if the screen is less than 500px*/
	.team-fool {
		background-image: none !important;
	}
}

/*cards begin*/

.container_card {
	padding: 24px 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.card-arrow {
	text-align: center;
}

.card-arrow img {
	height: 48px;
	margin-top: 16px;
}

.card-team {
	margin-top: 16px;
}

.card-wrap {
	margin: 32px;
	-webkit-transform: perspective(800px);
	transform: perspective(800px);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	cursor: pointer;
}
.card-wrap:hover .card-info {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.card-wrap:hover .card-info p {
	opacity: 1;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
	-webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
	-webkit-transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.card-wrap:hover .card-bg {
	-webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 0.8;
}
.card-wrap:hover .card {
	-webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
	box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 240px;
	flex: 0 0 240px;
	width: 240px;
	height: 320px;
	background-color: #333;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
	-webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
	opacity: 0.5;
	position: absolute;
	/*top: -20px;
	left: -20px;*/
	width: 100%;
	height: 100%;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	pointer-events: none;
}

.card-info {
	padding: 20px;
	position: absolute;
	bottom: 0;
	color: #fff;
	-webkit-transform: translateY(40%);
	transform: translateY(40%);
	-webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	opacity: 0;
	text-shadow: black 0 2px 3px;
	-webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
	position: relative;
	z-index: 1;
}
.card-info:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
	background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
	background-blend-mode: overlay;
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 36px;
	font-weight: 700;
	text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

@media screen and (max-width: 500px) {
	/*applies only if the screen is less than 500px*/
	.team-head {
		color: #000000;
		font-size: 35px;
		font-family: 'Advent Pro', sans-serif;
		font-weight: 700;
		text-decoration: none;
	}

	.card-arrow {
		display: none;
	}
}

/*cards end*/

/* Footer
---------------------------------*/
.footer-fool {
	background-image: url("../img/footer-fool-2.png");
	background-repeat: no-repeat;
	background-size: 600px 600px;
	background-position: right bottom;
}

@media screen and (min-width: 500px) and (max-width: 1500px) {
	/* applies only if the screen is more than 500px & less than 1500px*/
	.footer-fool {
		background-image: url("../img/footer-fool-2.png");
		background-repeat: no-repeat;
		background-size: 400px 400px;
		background-position: right bottom;
	}
}

@media screen and (max-width: 500px) {
	/*applies only if the screen is less than 500px*/
	.footer-fool {
		background-image: none !important;
	}
}

.footer{
	padding:0 0 35px;
}
.footer-logo{
	text-align: center;
}

.footer-copyright {
	color:black;
	font-size:14px;
	display:block;
	text-align:center;
}

.social-wrapper {
	padding-bottom: 24px;
	text-align: center;
}

.social-wrapper a {
	padding: 0px 5px;
}

.social-wrapper a:nth-child(1) {
	color: #4867AA;
	cursor: pointer;
	text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
	transition: all ease-in-out 150ms;
}

.social-wrapper a:nth-child(1):hover {
	margin-top: -10px;
	text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
	transform: translate(0, -8);
}

.social-wrapper a:nth-child(2) {
	color: #3f729b;
	cursor: pointer;
	text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
	transition: all ease-in-out 150ms;
}

.social-wrapper a:nth-child(2):hover {
	margin-top: -10px;
	text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
	transform: translate(0, -5);
}
.social-wrapper a:nth-child(3) {
	color: #e62117;
	cursor: pointer;
	text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
	transition: all ease-in-out 150ms;
}
.social-wrapper a:nth-child(3):hover {
	margin-top: -10px;
	text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
	transform: translate(0, -8);
}

/*Footer ends*/

.res-nav_click {
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	text-decoration: none !important;
	color:#777777;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
	color: #7cc576 !important;
}

/* Animation Timers
---------------------------------*/
.delay-02s {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
.delay-03s {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
.delay-04s {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

.delay-05s {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.delay-06s {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}

.delay-07s {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
.delay-08s {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}

.delay-09s {
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}
.delay-1s {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.delay-12s {
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}

.userDetails{
	position: absolute;
	top:25px;
	padding: 0;
	right: 10%;
	z-index: 2;
}

.userDetails h1{
	font-size: 2em;
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-family: 'Advent Pro', sans-serif;
}

.userDetails h2{
	font-size: 1.5em;
	margin: 2px;
	padding: 0;
	color: #ffffff;
	font-family: 'Advent Pro', sans-serif;
}
