<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Campus Ambassador Program RDV'17</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/themify-icons/css/themify-icons.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans|Titillium+Web|Varela+Round|Lato|Montserrat|Droid+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">

  </head>
  <body ng-app="app" ng-controller="MainCtrl">

    <div class="main-flex" layout = "row" >
      <div class="left-flex  " flex = "18" ng-hide = "isPath('/')" md-whiteframe = "2" hide-xs hide-sm ng-controller = "ProfileCtrl">
        <div class="center" layout = "row" >
          <img  src={{userFullDetails.image_url}} alt="" md-whiteframe ="3">
        </div>
        <h3 class="">Hey,</h3>
        <div class="" layout = "column">
          <span class="username">{{userProfile.name}}</span>
          <br ng-show = "!checkTypes(userFullDetails.type)">
          <span class="email" ng-show = "!checkTypes(userFullDetails.type)">{{userProfile.college}}</span>
          <br>
          <span class="email">{{userProfile.email}}</span>
          <br>
          <span ng-show = "!checkTypes(userFullDetails.type)" class="email">Points: {{userProfile.points/1000000000000000 | number:0}}</span>
          <img class="logo-image" src="images/RDV-logo.svg" alt="">

        </div>

      </div>
      <div class="right-flex " ng-class="{'home-right':!isPath('/')}" flex-gt-sm = "100" flex = "100">

        <nav class="nav-bar valign-wrapper" ng-hide = "isPath('/')" md-whiteframe = "2">
          <i class="ti-menu nav-icon" ng-click="toggleLeft()" hide-gt-sm></i>
          <a class="user">Welcome</a>
           <ul class="valign-wrapper" hide-xs hide-sm>
             <li>
               <md-button   class="md-primary btn" ng-href = "#!/home">Home</md-button>
             </li>
             <li>
               <md-button  class="md-primary btn" ng-show = "checkTypes(userFullDetails.type)" ng-href = "#!/pending"> Pending Approvals</md-button>
             </li>
             <li>
               <md-button   class="md-primary btn" ng-show = "!checkTypes(userFullDetails.type)" ng-href = "#!/submissions">Submissions</md-button>
             </li>
             <li>
               <md-button   class="md-primary btn"  ng-href = "#!/submit">Tasks</md-button>
             </li>
             <li>
               <md-button class="md-icon-button" ng-click = "logout()">
                 <i class="ti-power-off power-icon"></i>
                   <md-tooltip md-direction="bottom">Logout</md-tooltip>
               </md-button>
             </li>
           </ul>
         </nav>
         <div data-ng-view = ""></div>
      </div>
    </div>
    <!-- side nav code -->
    <md-sidenav class="md-sidenav-right sidenav" ng-hide = "isPath('/')" md-component-id="left" md-whiteframe="4">
      <!-- <div class="left-flex" flex-gt-sm = "18"  hide-xs hide-sm>
        <div class=" left-head">
          <a class="logo"><img src = "images/logo.png"></a>
        </div>
        <div class="left-main">
          <ul>
            <li><a  ng-click="toggleLeft()" href="#!/dashboard">Dashboard</a></li>
            <li><a  ng-click="toggleLeft()" href="#!/campaign">Create Campaign</a></li>
            <li><a  ng-click="toggleLeft()" href="#!/partner">Create Partner</a></li>

          </ul>
        </div>
      </div> -->
      <div class="side-nav">
        <div class="user-info center" layout = "column">
          <img  src={{userFullDetails.image_url}} alt="" md-whiteframe ="3">
          <h3 class="username">{{userFullDetails.name}}</h3>
          <h3>{{userFullDetails.email}}</h3>
          <h3 ng-show = "!checkTypes(userFullDetails.type)">{{userFullDetails.college}}</h3>
          <h3 ng-show = "!checkTypes(userFullDetails.type)">Points: {{userFullDetails.points}}</h3>


          </div>
        <ul class="">
          <li>
            <a class="" ng-click="toggleLeft()" ng-href = "#!/home">Home</a>
          </li>
          <li>
            <a class="" ng-click="toggleLeft()" ng-show = "checkTypes(userFullDetails.type)" ng-href = "#!/pending">Pending Approvals</a>
          </li>
          <li>
            <a class="" ng-click="toggleLeft()" ng-show = "!checkTypes(userFullDetails.type)" ng-href = "#!/submissions">Submissions</a>
          </li>
          <li>
            <a class="" ng-click="toggleLeft()" ng-show = "!checkTypes(userFullDetails.type)" ng-href = "#!/submit">Tasks</a>
          </li>
          <li>
            <a class="" ng-click = "logout(); toggleLeft()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    </md-sidenav>

    <!-- side nav code ends here -->
  </body>
  <!-- scripts -->
  <script type='text/javascript' src="bower_components/angular/angular.min.js"></script>
  <script type='text/javascript' src="bower_components/angular-route/angular-route.min.js"></script>
  <script type='text/javascript' src="bower_components/angular-material/angular-material.min.js"></script>
  <script type='text/javascript' src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script type='text/javascript' src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script type='text/javascript' src="bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angularjs-social-login/angularjs-social-login.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/1.15.1/hello.all.min.js"></script>
  <script type='text/javascript' src="main.js"></script>
  <script type='text/javascript' src="js/cap.js"></script>
</html>
