article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

body, html {
  font-size: 14px;
  overflow-x: hidden;
}

*:focus {
  outline: none !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f1de;
  font-family: "Open Sans Condensed", sans-serif;
  color: #3D405B;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

.not-visible {
  visibility: hidden;
}

.button {
  border: 0;
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin: 2rem;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
  font-size: 14px;
  width: 150px;
  color: #f3a0a7;
  background-color: #ffffff;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 600px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 960px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1170px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1400px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.center {
  text-align: center;
}

.ngview {
  position: relative;
  top: 117px;
}

.ngview.home {
  top: 0px;
}

.nav-bar {
  min-height: 56px;
  height: auto;
  position: fixed;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  z-index: 2;
  background: #3949AB;
}
.nav-bar .fa-bars {
  font-size: 28px;
  color: #ffffff;
  margin: 1rem;
}
.nav-bar ul {
  list-style-type: none;
  padding: 5px;
  margin: 0 auto;
}
.nav-bar ul li {
  float: left;
  padding: 10px 5%;
  text-transform: uppercase;
  color: #C6DFF8;
  font-weight: 500;
  margin: 0 25%;
}
.nav-bar ul li a {
  color: white;
  text-decoration: none;
}
.nav-bar ul li:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #6b1be2;
}
.nav-bar .isActive {
  background-color: #330538;
}

md-sidenav {
  font-family: "Varela Round", sans-serif;
}
md-sidenav .header {
  background: #3949AB;
}
md-sidenav .header img {
  padding: 24px;
}
md-sidenav ul li {
  padding: .5rem;
}
md-sidenav ul li a {
  font-size: 20px;
  text-decoration: none;
}

md-card {
  padding: 3rem 1.2rem;
}

@media screen and (min-width: 960px) {
  #about md-card .left {
    float: left;
    padding: 24px;
    max-width: 450px;
  }
  #about md-card .left img {
    max-width: 420px;
    height: auto;
  }
}
#about md-card .left img {
  width: 100%;
  height: auto;
}
#about md-card .right h1 {
  margin-bottom: 0;
  text-align: center;
}
#about md-card .right img {
  margin: 1rem auto;
}
#about md-card .right span {
  font-size: 20px;
  line-height: 36px;
}
@media screen and (min-width: 960px) {
  #about md-card .right {
    float: right;
    max-width: calc(100% - 450px);
    padding: 24px;
  }
  #about md-card .right h1 {
    margin: 0 auto;
    text-align: left !important;
  }
  #about md-card .right img {
    margin: 1rem 0;
  }
}

#incentives {
  margin: 2rem auto;
}
@media screen and (max-width: 960px) {
  #incentives h1 {
    text-align: center;
  }
}
#incentives md-card {
  overflow: hidden;
}
#incentives h1 {
  margin-bottom: 0;
}
#incentives img {
  margin: 1rem auto;
}
#incentives p {
  font-size: 20px;
  line-height: 36px;
  max-width: 1000px;
  text-align: center;
}
#incentives ul {
  font-size: 20px;
  line-height: 36px;
}
#incentives .faqline {
  text-align: center !important;
  margin: 0 auto;
  font-size: 24px;
}
#incentives .faqline a {
  text-decoration: none;
}

#contact .wrapper {
  width: 100%;
  margin-bottom: 2rem;
}
#contact h1 {
  margin-bottom: 0;
}
#contact img {
  margin: 1rem auto;
}
#contact h2 {
  font-size: 24px;
}
#contact p {
  font-size: 20px;
}

#register {
  padding: 15px;
}
#register span {
  font-size: 36px;
}
#register .btn {
  border: 2px solid orange;
  padding: 15px;
  font-size: 36px;
  margin: 15px;
}

#social {
  padding: 16px;
}
#social .socialList {
  margin-bottom: 2rem;
  width: 80%;
}

a {
  display: block;
  margin: auto;
}

img {
  margin: auto 2rem;
  display: block;
  margin: 0 auto;
}

.home-main {
  min-height: 100vh;
  background: #ffffff;
  background: linear-gradient(rgba(254, 149, 102, 0.6), rgba(255, 112, 96, 0.6)), url("../images/back.png") no-repeat center;
  background-size: cover;
  background-position: center;
  position: relative;
}
.home-main .header-wrapper {
  padding: 10vh;
  font-family: "Montserrat", sans-serif;
}
.home-main .header-wrapper span {
  font-size: 1.4rem;
  color: white;
}
.home-main .header-wrapper h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
}
.home-main .header-wrapper .down-arrow {
  margin: auto 2rem;
  bottom: 50px;
  margin-top: 5vh;
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  width: 100%;
}
.home-main .header-wrapper .down-arrow img {
  margin: 0 auto;
}

@keyframes stretch {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 30px;
  }
}
.logo-right {
  border: 1px solid white;
  padding: 16px;
  max-width: 140px;
  top: 50px;
  right: 50px;
  margin-bottom: 30px;
}
.logo-right span {
  margin: 2rem auto;
  font-size: 1rem !important;
  text-align: center;
}

.test {
  border: 1px solid red;
}
