
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* Primary Styles
---------------------------------*/
body {
	background:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#888888;
	margin:0;
}
h2{
	font-size:48px;
	color:#222222;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	letter-spacing: 1px;
	text-align:center;
	text-transform:uppercase;
}

h6{
	font-size:24px;
	color:#888888;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:center;
}
p{
	line-height:24px;
	margin:0;
}

/* Header Styles
---------------------------------*/

.header{
	height:100vh;
	background: url(../img/social-landing.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

/* Navigation
---------------------------------*/
.main-nav-outer{
	padding:0px;
	border-bottom:1px solid #dddddd;
	box-shadow:0 4px 5px -3px #ececec;
	position:relative;
	background:#fff;
}
.main-nav{
	text-align:center;
	margin:10px 0 0px;
	padding:0;
	list-style:none;
}
.main-nav li{
	display:inline;
	margin:0 1px;
	letter-spacing: 1px;
	font-size: 16px;
}
.main-nav li a{
	display:inline-block;
	color:#222222;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	line-height:20px;
	margin:17px 32px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.main-nav li a:hover{
	text-decoration:none;
	color: #9b0404;
}

/* Campaign
---------------------------------*/

.campaign-head {
	font-size:48px;
	color:#222222;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	letter-spacing: 1px;
	text-align:center;
	text-transform:uppercase;
}

.campaign-subhead {
	font-size:24px;
	color:#888888;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:center;
}

.campaign-content {
	margin-top: 56px;
}


.campaign {
	padding-top: 8px;
}

.campaign-left-content {
	/*margin-top: 40px;*/
}

.campaign-right-content {
}

.campaign-content .campaign-img {
	width: 100%;
	height: 100%;
	margin-top: -100px;
}

.service-list{
	padding-left: 10px;
	border-left: thick solid grey;
}
.service-list-col1{
	float:left;
	width:60px;
}
.service-list-col1 i{
	font-style:normal;
	font-size:38px;
	display:block;
	color:#222;
	font-family: 'FontAwesome';
	line-height:38px;
}
.service-list-col2{
	overflow:hidden;
}

.service-list-col2 h3 {
	font-family: verdana;
	color:#5b5e6d;
	font-size:20px;
	margin:0 0 5px 0;
	font-weight:200;
	line-height: 24px;
}

.main-section.alabaster{
	background:#fafafa;
	padding-top: 32px;
	padding-bottom: 40px;
}

hr.style14 { 
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.events-slider {
	padding-top: 40px;
	padding-bottom: 40px;

}



/* Featured Work
---------------------------------*/

.stats-right-content-head {
	margin-left: 27%;
	padding-bottom: 24px;
}

.featured-work{
	font-size:14px;
	padding-top: 40px;
}
.featured-work h2{
	text-align:left;
}
.featured-box{
	padding:0 0 0 0;
	margin-bottom:40px;
	font-size:20px;
	font-weight:bold;
}
.featured-box h3{
	margin-bottom:40px;
}
.featured-box p{
	line-height:22px;
}
.featured-work p.padding-b{
	padding-bottom:35px;
}
.featured-box-col1{
	width:60px;
	float:left;
}
.featured-box-col1 i{
	display:block;
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	color:#777777;
	font-style:normal;
}
.featured-box-col2{ overflow:hidden;}
.featured-box.magic{
	background:url(../img/magic.png) left top no-repeat;
}
.featured-box.packaged{
	background:url(../img/packaged.png) left top no-repeat;
}
.featured-box.seo{
	background:url(../img/seo.png) left top no-repeat;
}

img {
	max-width:100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	transition-property:         transform, opacity;
}

.main-section.paddind{
	padding-bottom:60px;
}

/* Clients
---------------------------------*/
.client-part{
	background:#fafafa;
	padding-top: 24px;
	text-align:center;
}

.upcoming-camp-head {
	font-size:32px;
	color:#222222;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	letter-spacing: 1px;
	text-align:center;
	text-transform:uppercase;
}

.client-part-haead{
	font-size:24px;
	line-height:40px;
	margin:30px 0 10px;
	font-family: ''Open Sans',sans-serif';
}
.client{
	padding:0;
	margin:20px 0 0;
	list-style:none;
	text-align:center;
}
.client li{
	display:inline;
	margin:0 15px;
}
.client li a{
	display:inline-block;
}
.client li a img{
	margin-bottom:15px;
	border-radius:50%;
}
.client li a:hover{
	text-decoration:none;
}
.client li a h3{
	color:#ffffff;
}
.client li a span{
	color:#f1f1f1;
}
.quote-right{
	font-style:normal;
	width:68px;
	height:68px;
	margin:0 auto;
	border:2px solid #7cc576;
	border-radius:50%;
	display:block;
	line-height:68px;
	text-align:center;
	font-size:27px;
	color:#7cc576;
	cursor: pointer;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.quote-right:hover{
	color: #fff;
	border: 2px solid #fff;
}

.schedule-cards {
	padding-bottom: 24px;
}

.schedule-cards ul {
	background: #f5f5f5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px #CCC dotted;
	box-shadow: 4px 4px 1px #888;
	display: inline-block;
	height: 140px; 
	padding: 0 10px;
	width: 300px; 
	margin-right: 20px;
}
.schedule-cards li {
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	list-style-type: none; 
} 
.schedule-cards .month {
	color: #666 !important;
	font-size: 24px;
	float: left;
	top: 20px;

}  
.schedule-cards .day {
	display: block;
	font-size: 80px;
}
.schedule-cards .content {
	display: block;
	color: #666;
	font-family: Helvetica, Arial, sans-serif;
	float: right;
	margin-top: 20px;
} 

/* Contact
---------------------------------*/
.main-section.contact{
	/*padding:90px 0 100px;*/
	padding-top: 24px;
}

.pledge-form {
	padding-top: 80px;
}

.main-section.contact{
	background:url(../img/pledge.png) left 190px no-repeat;
	background-size: 500px;
}
.contact-info-box{
	font-size:15px;
	margin:0 0 14px 68px;
	padding-left:0;
}
.contact-info-box h3{
	font-size: 15px;
	font-weight:400;
	float:left;
	width:102px;
	margin-right:12px;
	line-height:28px;
}
.contact-info-box h3 i{
	font-style:normal;
	font-size:18px;
	color:#222222;
	font-family: 'FontAwesome';
	font-weight:normal;
	margin-right:7px;
}
.contact-info-box span{
	line-height:28px;
	display:block;
	overflow:hidden;
}

.form{
	margin:0 66px 0 30px;
}
.input-text{
	padding:15px 16px;
	border:1px solid #ccc;
	width:100%;
	height:50px;
	display:block;
	border-radius:4px;
	font-size:15px;
	color:#aaa;
	font-family: 'Open Sans', sans-serif;
	margin:0 0 15px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
	height:165px;
	resize:none;
	overflow:auto;
}
.input-btn{
	width:175px;
	height:50px;
	background:#9b0404;
	border-radius:4px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	border:0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.input-btn:hover{
	background: #111;
	color: #fff;
}

.validation {
	color: red;
	display:none;
	margin: 0 0 20px;
	font-weight:400;
	font-size:13px;
}

#sendmessage {
	color: #7cc576;
	border:1px solid #7cc576;
	display:none;
	text-align:center;
	padding:15px;
	font-weight:600;
	margin-bottom:15px;
}

#errormessage {
	color: red;
	display:none;
	border:1px solid red;
	text-align:center;
	padding:15px;
	font-weight:600;
	margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

.res-nav_click {
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	text-decoration: none !important;
	color:#777777;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
	color: #7cc576 !important;
}

.portfolioContainer{
	max-width: 1140px;
}


/* Footer */

.footer{
	padding:0 0 35px;
}

.footer-logo{
	text-align: center;
}

.footer-copyright {
	color:black;
	font-size:14px;
	display:block;
	text-align:center;
}

.social-wrapper {
	padding-bottom: 24px;
	text-align: center;
}

.social-wrapper a {
	padding: 0px 5px;
}

.social-wrapper a:nth-child(1) {
	color: #4867AA;
	cursor: pointer;
	text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
	transition: all ease-in-out 150ms;
}

.social-wrapper a:nth-child(1):hover {
	margin-top: -10px;
	text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
	transform: translate(0, -8);
}

.social-wrapper a:nth-child(2) {
	color: #3f729b;
	cursor: pointer;
	text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
	transition: all ease-in-out 150ms;
}

.social-wrapper a:nth-child(2):hover {
	margin-top: -10px;
	text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
	transform: translate(0, -5);
}

.social-wrapper a:nth-child(3) {
	color: #e62117;
	cursor: pointer;
	text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
	transition: all ease-in-out 150ms;
}

.social-wrapper a:nth-child(3):hover {
	margin-top: -10px;
	text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
	transform: translate(0, -8);
}
/*Footer ends*/



/* Animation Timers
---------------------------------*/
.delay-02s {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
.delay-03s {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
.delay-04s {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

.delay-05s {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.delay-06s {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}

.delay-07s {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
.delay-08s {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}

.delay-09s {
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}
.delay-1s {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.delay-12s {
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}


/*UDIT CSS */


/*Scroll Button*/
.scroll a span {
	position: absolute;
	top: 92vh;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 2px solid #FFFEFF;
	border-bottom: 2px solid #FFFEFF;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb04 2s infinite;
	animation: sdb04 2s infinite;
	box-sizing: border-box;
}


@-webkit-keyframes sdb04 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb04 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}
/*Scroll Button Ends*/

 /* main-heading-3
 ---------------------------------*/
 .main-heading-3Container{
 	max-width: 1500px;
 }
 .main-heading-3Container{
 	text-align: center;
 }

 .main-heading-3-box{
 	margin-bottom:8px;
 	overflow:hidden;
 	display: inline-block;
 	text-align: center;
 }

 .main-heading-3-nav li a.current{
 	background:#dddddd;
 	text-decoration:none;
 }

 .main-heading-3-box a .name {
 	text-decoration: none;
 	text-transform: uppercase;
 	text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 5px;
 	color: white;
 	font-weight: bold;
 	font-family: 'Dosis', sans-serif;
 	background-color: #444444;
 	font-size: 20px;
 	letter-spacing: .1em;
 	display: block;
 	text-align: center;
 	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
 	opacity: 0;
 	z-index: 2;
 	width: 100%;
 	/*height: 100%;*/
 }

 .main-heading-3-box a:hover .name {
 	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
 	opacity: 1;
 	-moz-transform: scale(1, 1);
 	-ms-transform: scale(1, 1);
 	-webkit-transform: scale(1, 1);
 	transform: scale(1, 1);
 	-moz-transition-property: all;
 	-o-transition-property: all;
 	-webkit-transition-property: all;
 	transition-property: all;
 	-moz-transition-duration: 0.6s;
 	-o-transition-duration: 0.6s;
 	-webkit-transition-duration: 0.6s;
 	transition-duration: 0.6s;
 }

 .main-heading-3-box a:hover img {
 	-moz-transform: scale(1, 1);
 	-ms-transform: scale(1, 1);
 	-webkit-transform: scale(1, 1);
 	transform: scale(1, 1);
 	background-position: top top;
 	-webkit-filter: grayscale(0.4) blur(2px);
 	filter: grayscale(0.4) blur(2px);
 	-moz-transition-property: all;
 	-o-transition-property: all;
 	-webkit-transition-property: all;
 	transition-property: all;
 	-moz-transition-duration: 0.8s;
 	-o-transition-duration: 0.8s;
 	-webkit-transition-duration: 0.8s;
 	transition-duration: 0.8s;
 }

 .main-heading-3-box a img {
 	margin: 0 auto;
 	display: inline-block;
 	text-align: center;
 	-moz-transform: scale(1.09, 1.09);
 	-ms-transform: scale(1.09, 1.09);
 	-webkit-transform: scale(1.09, 1.09);
 	transform: scale(1.09, 1.09);
 	-moz-transition-property: all;
 	-o-transition-property: all;
 	-webkit-transition-property: all;
 	transition-property: all;
 	-moz-transition-duration: 0.4s;
 	-o-transition-duration: 0.4s;
 	-webkit-transition-duration: 0.4s;
 	transition-duration: 0.4s;
 }

 .mob-highlights {
 	display: none;
 }

 @media screen and (max-width: 500px) {
 	/*applies only if the screen is less than 500px*/
 	.paddind {
 		padding-top: 0;
 		padding-bottom: 40px;
 		background-image: none !important;
 	}

 	.high-head {
 		color: #000000;
 		font-size: 35px;
 		font-family: 'Advent Pro', sans-serif;
 		text-transform: uppercase;
 		font-weight: 700;
 		margin-bottom: 40px;
 		float: left;
 	}

 	.high-arrow {
 		width: 28px;
 		margin-left: 64px;
 		-ms-transform: rotate(90deg);
 		margin-top: 14px;
 	}

 	.main-heading-3Filter {
 		display: none;
 	}

 	.main-heading-3-nav {
 		display: none;
 	}

 	.main-heading-3Container{
 		display: none;
 	}

 	.mob-highlights {
 		display: block;
 	}

 	.main-heading-3-box img {
 	}
 }

 .main-section.team{
 	padding:40px 0;
 	background:#fafafa;
 }
 .main-section.team h6{
 	margin-bottom:40px;
 }


/* Team
---------------------------------*/
.team-leader-block{
	max-width:993px;
	margin:0 auto;
}
.team-leader-box-tohead {
	display: inline-block;
	width:30.66%;
	margin-right: 3.82979%;
	height: 490px;
	overflow: hidden;
	text-align: center;
	margin-left: 12%;
	color: white;
}
.team-leader-box span{
	margin-bottom:24px;
	display:block;
}
.team-leader-box:nth-of-type(3n+0){ margin:0;}
.team-leader{
	width:auto;
	height:auto;
	position:relative;
	border-radius:50%;
	box-shadow:0px 0px 0px 7px rgba(241,241,241,0.80);
	margin:7px 7px 25px 7px;
	
}
.team-leader-shadow{
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	border-radius:50%;
	position:absolute;
	width:100%;
	height:100%;
	z-index:10;
	border-radius:50%;
}
.team-leader-shadow a{
	display:block;
	width:100%;
	height:100%;
}
.team-leader:hover .team-leader-shadow{
	box-shadow:inset  0px 0px 0px 148px rgba(17,17,17,0.80);
}
.team-leader:hover ul{ display:block; opacity:1}
.team-leader img{
	display:block;
	border-radius:50%;
}
.team-leader ul{
	display:block;
	opacity:0;
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	text-align:center;
	margin-top:-14px;
	z-index:15;
	transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-webkit-transition:all 0.6s ease-in-out;
}
.team-leader ul li{
	display:inline;
	margin:0 11px;
}
.team-leader ul li a{
	font-family: 'FontAwesome';
	display:inline-block;
	font-size:28px;
	color:#fff;	
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.team-leader ul li a:hover, .team-leader ul li a:focus{
	text-decoration:none;
}
.team-leader ul li a.fa-facebook:hover{
	color:#3b5998;
}
.team-leader ul li a.fa-envelope:hover{
	color:#dd4b39;
}
