
	<style>
  @import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
    body {
       background-image: url("../images/bg3.png");
  background-size: cover;
  text-align: center;
    }
    /* Main section */
.main-section{
  /*height: 100vh;*/
}

.main-section.introduction {

}

.coming-logo {
  margin-top: 5vh;
}

@media screen and (min-width: 500px) {
  /* applies only if the screen is more than 500px */
  .cover-head {
    color: #222222;
    margin-top: 5vh;
    text-shadow: 2px 2px 8px grey;
  }

  .cover-head i {
    font: normal 112px/ 120px 'Nixie One', Helvetica, Arial;
    letter-spacing: -2px;
    /*font-weight: 700;*/
    text-shadow: 0 0 30px #EC637B,
    0 0 10px rgba(230, 161, 173, 0.41),
    0 0 100px #E6A1AD,
    0 0 500px #F36780,
    5px 9px 5px rgba(0, 0, 0, 0.5);
  }

  .cover-head i.off {
    color: rgba(46, 46, 46, 0.61);
    text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
  }

}

@media screen and (max-width: 500px) {
  /* applies only if the screen is narrower than 500px */
  /*.cover-head {
    font-size: 72px;
    color: #222222;
    margin: 0 0 15px 0;
    text-shadow: 2px 2px 8px grey;
  }*/
}

/*.sub-head {
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  font-weight:
  line-height: 1.6;
}

.para {
  font-size: 20px;
  line-height: 1.4;
}*/

/* Main section end */
  </style>

<!-- =======================================================
Author: Sahil Khokhar
Author URL: https://sahil505.com
======================================================= -->
</head>
<body ng-controller = "MainCtrl">
  <!--main-section-start-->
  <section class="main-section introduction" id="events">
  <div class="coming-logo">
    <img src="images/rdv-logo.png" height="250" width="150">
  </div>
    <div class="container cover-neon">
      <h1 class="cover-head">Coming Soon</h1>
    </div>
  </section>
  <!--main-section-end-->

	<!-- Created & Developed by Sahil Khokhar (sahil505.com) -->
</body>
</html>
