<div ng-controller="ForgotCtrl" flex ng-cloak class="login-page">

      <!-- <a href = "../index.html"><img class="header-img" src="images/logo2.png" alt="" hide-sm hide-xs></a> -->

      <div class="logo-img-header " layout = "row" md-whiteframe = "1">
        <a href = "../index.html"><img class="logo-img" src="images/header2.png" alt=""></a>

      </div>
      <div class="logo-img-header " layout = "row" md-whiteframe = "1">
        <a href = "../index.html"><img class="logo-img" src="images/header2.png" alt=""></a>

      </div>


      <div layout="row" layout-sm="column" layout-align="space-around" >
         <md-progress-circular ng-show = "isLoading" md-mode="indeterminate"></md-progress-circular>
      </div>
  <div layout = "row" layout-align = "center center" class="login-card" md-whiteframe = "1" ng-show="isForgot">

    <form name = "userForm" >
      <div class="login-head center">
        Reset Password<br /><br /><span style="font-size: 20px;">Please Enter your Email ID</span>
      </div>

        <md-input-container class="md-icon-float md-block ">
          <label>Email</label>
          <md-icon>mail</md-icon>
            <input required md-no-asterisk name="username" ng-model="user.email">
            <div ng-messages="userForm.username.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        <div layout = "row" layout-align = "center center">
        <md-button value = "Submit valid inputs" ng-disabled="userForm.$invalid" class="md-raised md-primary" ng-click = "Forgot(user)">Submit</md-button>
        </div>
        <!-- <div layout="row" layout-sm="column" layout-align="space-around" >
           <md-progress-circular ng-show = "isLoading" md-mode="indeterminate"></md-progress-circular>
        </div> -->
        <!-- <div class="signup-link" layout = "row">
          <a ng-href="#!/register">
            Dont't have an account ? <span>SignUp here</span>
          </a>

        </div> -->

    </form>


  </div>

  <div layout = "row" layout-align = "center center" class="login-card pass-message" md-whiteframe = "1" ng-show="isSuccess">
    😄<br>
    {{msg}}



  </div>



</div>
