<div  ng-controller = "MainCtrl" class="home-glance">
  <!-- <div class="user-name" md-whiteframe = "3">
    Hii {{userDetails.first_name}}!
  </div> -->

  <div class="events-at-glance-head" id = "section1" md-whiteframe ="3" >

    <div class = "center " layout = "column" layout-align ="center center">

    <a href = "../"><img class="header-img" src="images/rdv-logo.png" alt="" hide-xs hide-sm ></a>
      <!-- <a href = "../index.html"><img class="header-img" src="images/header.png" alt=""></a> -->
       <h1 class="cover-head" >Events at a Glance </h1>
    </div>
    <!-- <div layout = "row" layout-align ="center center" hide-gt-xs>
      <a href = "../index.html"><img class="header-img" src="images/header.png" alt=""></a>
    </div> -->
    <!-- <div class="read-more center" layout = "row" layout-align = "center center">

    </div> -->

  </div>
  <div class="events-at-glance" layout= "row" layout-xs = "column" id = "competetions" >
    <div class = "div-flex " flex-gt-sm = "40" >
      <img src="images/born.jpg" alt="">
      <div id="overlay-events" class="eventsbg1"></div>
      <h1 class=" main-head">Competitive Events</h1>
      <!-- <h1 class=" sub-head">(Competitive Events )</h1> -->
      <a ng-href = "#!/compevents"><button class="outline-button pass">Read More</button></a>
    </div>
    <div class = "div-flex " flex-gt-sm = "60" >

      <img src="images/live.jpg" alt="">
      <div id="overlay-events" class="eventsbg2"></div>
      <h1 class=" main-head">Professional</h1>
      <!-- <h1 class=" sub-head">(Professional)</h1> -->
      <a href = "../comingsoon.html"><button class="outline-button pass">Read More</button></a>
    </div>
  </div>
  <div class="events-at-glance" layout= "row"  layout-xs = "column">
    <div class = "div-flex " flex-gt-sm = "60" >

      <img src="images/pronites.jpg" alt="">
      <div id="overlay-events" class="eventsbg3"></div>
      <h1 class=" main-head">Pronites</h1>
      <!-- <h1 class=" sub-head">(Pronites)</h1> -->
      <a href = "#!/pronites"><button class="outline-button pass">Read More</button></a>
    </div>
    <div class = "div-flex " flex-gt-sm = "40" >

      <img src="images/spiritual.jpg" alt="">
      <div id="overlay-events" class="eventsbg4"></div>
      <h1 class="main-head">Informal Events</h1>
      <!-- <h1 class=" sub-head">(Informal Events)</h1> -->
      <a href = "../comingsoon.html"><button class="outline-button pass">Read More</button></a>
    </div>
  </div>
  <div class="events-at-glance" layout= "row"  layout-xs = "column">
    <div class = "div-flex " flex-gt-sm = "40" >

      <img src="images/hustle.jpg" alt="">
      <div id="overlay-events" class="eventsbg5"></div>
      <h1 class="main-head">Activities</h1>
      <!-- <h1 class=" sub-head">(Activities)</h1> -->
      <a href = "../comingsoon.html"><button class="outline-button pass">Read More</button></a>
    </div>
    <div class = "div-flex " flex-gt-sm = "60" >

      <img src="images/soul.jpg" alt="">
      <div id="overlay-events" class="eventsbg6"></div>
      <h1 class="main-head">Workshops</h1>
      <!-- <h1 class="sub-head">(Workshops)</h1> -->
      <a href = "../comingsoon.html"><button class="outline-button pass">Read More</button></a>
    </div>
  </div>
<!-- {{userDetails}} -->
</div>
