<div class="main-div" layout = "row" ng-controller = "LiteraryCtrl" ng-init="init()">
  <div class="main-left " flex-gt-sm = "75" style={{imgLink}}>

      <a href = "../"><img class = "rdv-tag" src="images/white-logo.png" alt="" hide-xs hide-sm ></a>

      <div class="left-content">
        <div class="overlay-left">

        </div>
        <h1 class="headline">{{literaryData[literaryIndex].name}} <button ng-show = literaryData[literaryIndex].reg_status ng-click = "Register(literaryData[literaryIndex],literaryData[literaryIndex].reg_email,'/literary')" class="outline-button pass"><a>Register</a></button></h1>
        <!-- <h1 class="headline">{{literaryData[literaryIndex].name}} <button ng-click = "Register(literaryData[literaryIndex],literaryData[0].poc[0].email,'/literary')" class="outline-button pass"><a>Register</a></button></h1> -->
        <h3>{{literaryData[literaryIndex].subheading}}</h2>
          <span ng-bind-html="literaryData[literaryIndex].description">

          </span><br>
          <h1>Rules</h1>
          <span ng-bind-html="literaryData[literaryIndex].rules">
          </span><br>
          <h1>Prizes</h1>
          <span ng-bind-html="literaryData[literaryIndex].prizes">
          </span>
          <br>
          <h1>Date Time Venue</h1>

          <div ng-repeat = "data in literaryData[literaryIndex].dtv" layout = "column">
            <h3>{{data.type}}</h3>
            <div class="" layout = "column">
              <span>Date: {{data.date}}</span><br>
              <span>Start DateTime :{{data.start_time | date:'dd-MMM-yyyy @ h:mma'}}</span><br>
              <span>End DateTime: {{data.end_time | date:'dd-MMM-yyyy @ h:mma'}}</span><br>
              <span>Venue: {{data.venue}}</span>
            </div>
          </div>
          <div class="" layout = "column">
            <h3>Point of Contact</h3>
            <span>{{literaryData[literaryIndex].poc[0].name}}</span><br>
            <span>{{literaryData[literaryIndex].poc[0].designation}}</span><br>
            <span>{{literaryData[literaryIndex].poc[0].email}}</span><br>
            <span>{{literaryData[literaryIndex].poc[0].contact}}</span>
          </div>

        </div>
  </div>
  <div class="main-right" flex = "25" layout-align = "center center" hide-sm hide-xs>
    <h1 class="center " md-whiteframe = "1">Literary</h1>
    <ul class="tab-list">
      <li class="" ng-repeat = "x in literaryData" ng-click = "tabLiterary($index)">{{x.name}}</li>
    </ul>
  </div>

  <i class="ti-menu nav-icon" ng-click="toggleLeft()" hide-gt-sm></i>

    <md-sidenav class="" md-component-id="left" md-whiteframe="4">
      <div class="main-right" flex = "100" layout-align = "center center">
        <h1 class="center " md-whiteframe = "1">Literary</h1>
        <ul class="tab-list">
          <li class=""  ng-repeat = "x in literaryData" ng-click = "tabLiterary($index); toggleLeft()">{{x.name}}</li>
        </ul>
      </div>
    </md-sidenav>

</div>
