<div  ng-controller = "RegisterCtrl" class="otp-dialog">
  <h1>An OTP has been sent to your email</h1>
  <h4>If you are using Gmail please check your 'Updates' tab &amp; 'Spam' folder.</h4>
  <p>IIT Delhi Students - It might take upto <b>5 to 10 minutes</b> to receive the OTP on your IITD Webmail.</p>
 <form name = "userForm">
  <md-input-container class="md-icon-float md-block ">
    <label>Enter the OTP</label>
      <input md-maxlength="30" required md-no-asterisk name="otp" ng-model="user.otp">
      <div ng-messages="userForm.firstname.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <div layout = "row" layout-align = "center center">
    <md-button value = "Submit valid inputs" ng-disabled="userForm.$invalid" class="md-raised md-primary" ng-click = "submitOtp(user); answer('useful')">Submit</md-button>
    </div>
  </form>
</div>
