<div class="main-div" layout = "row" ng-controller = "ProfessionalCtrl" ng-init="load()">
  <div class="main-left" flex-gt-sm = "75" style={{imgLink}}>

      <a href = "../"><img class = "rdv-tag" src="images/white-logo.png" alt="" hide-xs hide-sm ></a>

      <div class="left-content ">
      <span hide-gt-sm style=" padding-left: 47%; font-weight: bold;">More Events &nbsp; &#x27bc;</span>
      <br><br>
        <div class="overlay-left">

        </div>
        <!-- <h1 class="headline">{{professionalData[professionalIndex].name}}<button ng-show = professionalData[professionalIndex].reg_status ng-click = "Register(professionalData[professionalIndex],professionalData[professionalIndex].reg_email,'/professional')" class="outline-button pass"><a>Register</a></button></h1> -->
        <!-- <h1 class="headline">{{professionalData[professionalIndex].name}}<button ng-click = "Register(professionalData[professionalIndex],professionalData[0].poc[0].email,'/professional')" class="outline-button pass"><a>Register</a></button></h1> -->
        <h3>{{professionalData[professionalIndex].subheading}}</h2>
          <span ng-bind-html="professionalData[professionalIndex].description">

          </span><br>
          <!-- <h1>Rules</h1>
          <span ng-bind-html="professionalData[professionalIndex].rules">
          </span><br>
          <h1>Prizes</h1>
          <span ng-bind-html="professionalData[professionalIndex].prizes">
          </span>
          <br> -->
          <h1>Date Time Venue</h1>

          <div ng-repeat = "data in professionalData[professionalIndex].dtv" layout = "column">
            <h3>{{data.type}}</h3>
            <div class="" layout = "column" >
              <span>Date: {{data.date}}</span><br>
              <span>Start Time :{{data.start_time | date:'h:mma'}}</span><br>
              <span>End Time: {{data.end_time | date:'h:mma'}}</span><br>
              <span>Venue: {{data.venue}}</span>
            </div>
          </div>
          <div class="" layout = "column">
            <h3>Point of Contact</h3>
            <span>{{professionalData[professionalIndex].poc[0].name}}</span><br>
            <span>{{professionalData[professionalIndex].poc[0].designation}}</span><br>
            <span>{{professionalData[professionalIndex].poc[0].email}}</span><br>
            <span>{{professionalData[professionalIndex].poc[0].contact}}</span>
          </div>


        </div>
  </div>
  <div class="main-right" flex = "25" layout-align = "center center" hide-sm hide-xs >
    <h1 class="center " md-whiteframe = "1">Professional</h1>
    <ul class="tab-list">
      <li  class="" ng-repeat = "x in professionalData" ng-click = "tabDance($index)" >{{x.name}}</li>
    </ul>
  </div>


<i class="ti-menu nav-icon"ng-init = "toggleLeft()" ng-click="toggleLeft()" hide-gt-sm></i>

  <md-sidenav class="" md-component-id="left" md-whiteframe="4">
    <div class="main-right" flex = "100" layout-align = "center center">
      <h1 class="center " md-whiteframe = "1">Professional</h1>
      <ul class="tab-list">
        <li class=""  ng-repeat = "x in professionalData" ng-click = "tabDance($index); toggleLeft()">{{x.name}}</li>
      </ul>
    </div>
  </md-sidenav>


</div>
