<!-- <div class="register-email" layout = "column" layout-align = "center center" ng-controller = "RegisterDialogCtrl">


</div> -->
<md-dialog aria-label="RDV (Registrations)" ng-controller = "RegisterDialogCtrl" >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>RDV (Registrations)</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">cancel</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h1 ng-show = {{regEmail}}>Please mail your registration on the following email</h1>
        <span ng-show = {{regEmail}}>
          {{regDataEmail}}
        </span>

        <span ng-show = {{extraType}}>
          <h1>Please submit your registration on the following link</h1>
          <a href = {{regData.reg_link}} target="_blank">{{regData.reg_link}}</a>
        </span>
        <h1 ng-show = {{regWebsite}}>Registration Form</h1>

        <form class="" name ="single-link-upload" ng-show = {{singleLink}}>
          <md-input-container class="md-icon-float md-block">
            <label>RDV Number</label>
              <input ng-disabled ="checkLogin()"  required md-no-asterisk name="register" ng-model="userDetails.rdv_number">
              <div ng-messages="single-link-upload.rdv_number.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
              <label>Name</label>
                <input ng-disabled ="checkLogin()"  required md-no-asterisk name="name" ng-model="fullName">
                <div ng-messages="single-link-upload.first_name.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-icon-float md-block">
                <label>File Link</label>
                  <input  required md-no-asterisk name="submission" ng-model="user.submission">
                  <div ng-messages="single-link-upload.submission.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <div layout = "row" layout-align = "center center">
                <md-button ng-disabled="single-link-upload.$invalid" ng-click = "singleLinkRegister(user,regData.id)" class="md-raised md-primary">Submit</md-button>
                </div>
          </form>

          <form class="" name ="single-nolink-upload" ng-show = {{single}}>
            <md-input-container class="md-icon-float md-block">
              <label>RDV Number</label>
                <input ng-disabled ="checkLogin()"  required md-no-asterisk name="register" ng-model="userDetails.rdv_number">
                <div ng-messages="single-link-upload.rdv_number.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-icon-float md-block">
                <label>Name</label>
                  <input ng-disabled ="checkLogin()"  required md-no-asterisk name="name" ng-model="fullName">
                  <div ng-messages="single-link-upload.first_name.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                  <div layout = "row" layout-align = "center center">
                  <md-button  ng-click = "singleLinkRegister(user,regData.id);answer('useful')" class="md-raised md-primary">Submit</md-button>
                  </div>
            </form>

            <form class="" name ="team-link-upload" ng-show = {{teamLink}}>
              <md-input-container class="md-icon-float md-block">
                <label>RDV Number</label>
                  <input ng-disabled ="checkLogin()"  required md-no-asterisk name="register" ng-model="userDetails.rdv_number">
                  <div ng-messages="single-link-upload.rdv_number.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                  <label>Team Name</label>
                    <input  required md-no-asterisk name="name" ng-model="user.team_name">
                    <div ng-messages="single-link-upload.team_name.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                <div class="" layout = "column" layout-align = "center center" style="padding:0">
                  <md-input-container class="md-icon-float md-block" ng-repeat = "x in TeamUpload track by $index">
                    <label>Team Member's RDV Number</label>
                      <input required md-no-asterisk name="register" ng-blur = "setNum(x,$index,$event)" ng-init = "user.rdv_number = x" ng-model="x" ng-disabled = "checkRDV_Num(x)">
                      <div ng-messages="single-link-upload.team.$error">
                        <div ng-message="required">This is required.</div>
                      </div>
                      <md-icon  ng-show = "!checkRDV_Num(x)" class = "cancelNum" ng-click = "deleteNum($index)">cancel</md-icon>
                    </md-input-container>

                </div>
                <div class="add-member" layout = "row" layout-align = "">
                    <md-button ng-click = "addMember()"class="add-button md-raised md-primary">Add member</md-button>
                </div>


                  <md-input-container class="md-icon-float md-block">
                    <label>File Link</label>
                      <input  required md-no-asterisk name="submission" ng-model="user.submission">
                      <div ng-messages="single-link-upload.submission.$error">
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>
                    <div layout = "row" layout-align = "center center">
                    <md-button  ng-disabled="team-link-upload.$invalid" ng-click = "teamLinkRegister(user,regData.id)" class="md-raised md-primary">Submit</md-button>
                    </div>
              </form>


              <form class="" name ="team-nolink-upload" ng-show = {{team}}>
                <md-input-container class="md-icon-float md-block">
                  <label>RDV Number</label>
                    <input ng-disabled ="checkLogin()"  required md-no-asterisk name="register" ng-model="userDetails.rdv_number">
                    <div ng-messages="single-link-upload.rdv_number.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container class="md-icon-float md-block">
                    <label>Team Name</label>
                      <input  required md-no-asterisk name="name" ng-model="user.team_name">
                      <div ng-messages="single-link-upload.team_name.$error">
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>
                  <div class="" layout = "column" layout-align = "center center">
                    <md-input-container class="md-icon-float md-block" ng-repeat = "x in TeamUpload track by $index">
                      <label>Team Member's RDV Number</label>
                        <input required md-no-asterisk name="register" ng-blur = "setNum(x,$index,$event)" ng-init = "user.rdv_number = x" ng-model="x" ng-disabled = "checkRDV_Num(x)">
                        <div ng-messages="single-link-upload.team.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                        <md-icon  ng-show = "!checkRDV_Num(x)" class = "cancelNum" ng-click = "deleteNum($index)">cancel</md-icon>
                      </md-input-container>

                  </div>
                  <div class="add-member" layout = "row" layout-align = "">
                      <md-button ng-click = "addMember()"class="add-button md-raised md-primary">Add member</md-button>
                  </div>

                      <div layout = "row" layout-align = "center center">
                      <md-button  ng-click = "teamLinkRegister(user,regData.id)" class="submitTeam md-raised md-primary">Submit</md-button>
                      </div>
                </form>
      </div>
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Cancel
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button>
    </md-dialog-actions> -->

</md-dialog>
