<section id="about" class="container">

  <md-card layout-gt-sm="row" layout="column" layout-align-sm="center center" layout-align-xs="center center" layout-wrap>
    <div class="left">
      <img src="images/guitar.jpg">
    </div>
    <div class="right">
      <h1>About Us</h1>
      <div class="" layout="row">
        <img src="images/textsep.svg" class="textSep" alt="">
      </div>
      <span>
        Rendezvous is the annual cultural fest of IIT-Delhi. Started in 1976 by a bunch of enthusiastic IITians with a unique vision to encourage cultural exchange and celebrate the passion within, RDV has grown to become North India&#39;s largest college cultural
        festival, drawing a footfall of over 50,000 from 350 colleges all over the country
        <br><br>
        Rendezvous is the inimitable product of Delhi&#39;s unique lust for life and BRCA&#39;s proverbial tendency for excellence. It is a 4 day extravaganza with equal parts of awesomeness in organisation and turnout. Having hosted performers such as Arijit
        Singh, Shankar Ehsaan Loy, Kay Kay, Farhan Akhtar, Vishal Shekhar, and Hoobastank in the past, Rendezvous 2017 promises to be even bigger and better than ever
      </span>
    </div>
  </md-card>
</section>

<section id="incentives" class="container">
  <md-card layout="column" layout-align="center center">
    <h1>What is College Ambassador Program?</h1>
    <div class="center" layout="row">
      <img src="images/textsep.svg" class="textSep" alt="">
    </div>
    <p>
      The Campus Ambassadors Program (CAP) is the premier publicity program of RDV and provides an opportunity to students from colleges all over India to get involved in the making of North India&#39;s largest college fest. Campus Ambassadors serve as the
      face of Rendezvous in their college and get hands on experience in institute level coordination, fest organization, teamwork, event management and media relations.
      <br>
      Little to give, so much to gain!
    </p>
    <br>
    <p>
      <div class="faqline " >
        For details check <a href="images/FAQsRDVcap.pdf" target="_blank"> FAQs </a> Section
      </div>
    </p>
        <br>
    <h1>What's in it for you?</h1>
    <div class=" center" layout="row">
      <img src="images/textsep.svg" class="textSep" alt="">
    </div>
    <ul>
      <li ng-repeat="x in chances">{{x}}</li>
    </ul>
  </md-card>
</section>


<section id="contact" class="container">
  <md-card layout="column" layout-align="center center">
    <h1>Contact Us</h1>
    <div class="center" layout="row">
      <img src="images/textsep.svg" class="textSep" alt="">
    </div>
    <div class="wrapper" layout-gt-sm="row" layout="column" layout-align="center center">
      <div class="center" flex="33">
        <h2>Aishwarya Smriti</h2>
        <p>Email : smritiaishwarya85@gmail.com</p>
        <p>Phone No : +91 96541 56140</p>
      </div>
      <div class="center" flex="33">
        <h2>Aditya</h2>
        <p>Email : adityakumar239@gmail.com </p>
        <p>Phone No : +91 87896 34760 </p>
      </div>
      <div class="center" flex="33">
        <h2>Anirban</h2>
        <p>Email : muk.anirban1995@gmail.com</p>
        <p>Phone No : +91 88820 26782</p>
      </div>
    </div>
  </md-card>
</section>

  <section id="register" class="container">
    <md-card layout="column" layout-align="center center">
      <!--<div class="valign-wrapper not-visible" when-visible="ElementIn" flex="60" flex-offset="10">
        <span>Please note that Rendezvous will not post on your behalf</span>
      </div>
-->
<!--
      <div class="not-visible " layout="column" when-visible="ElementIn" flex="30">
        <div class="center" layout="row" layout-align="center center">
          <a class="btn">
            Register
          </a>
        </div>
        <div class="center" layout="row" layout-align="center center">
          <a class="btn" >
            <span style="padding-left:40px;padding-right:40px;">Login</span>
          </a>
      </div>
    </div>-->
      <div class="center" style="" layout="row" layout-align="center center">
        <a class="btn" href="http://bit.ly/rdvcapreg" target="_blank" style="text-decoration:none;padding:15px 90px;">
          Register
        </a>
      </div>
    </md-card>
  </section>

<section id="social" class="container">
  <md-card class="custom-card2" layout="column" layout-align="center center">
    <h1>We are Social</h1>
    <div class="socialList" layout="row" layout-wrap layout-align="center center">
      <div class="" flex-gt-sm="25" flex-sm="50">
        <a target="_blank" href="https://www.facebook.com/rendezvous.iitd/">
          <img src="images/Fb.svg" alt="">
        </a>
      </div>
      <div class="" flex-gt-sm="25" flex-sm="50">
        <a target="_blank" href="https://twitter.com/theRDVstory">
          <img src="images/Twitter.svg" alt="">
        </a>
      </div>
      <div class="" flex-gt-sm="25" flex-sm="50">
        <a target="_blank" href="https://www.instagram.com/rendezvous.iitdelhi/">
          <img src="images/Instagram.svg" alt="">
        </a>
      </div>
      <div class="" flex-gt-sm="25" flex-sm="50">
        <a target="_blank" href="https://www.youtube.com/channel/UCKA99T7GC4_eYizNLPQdNcw">
          <img src="images/Youtube.svg" alt="">
        </a>
      </div>
    </div>
  </md-card>
</section>
