<section class="home-main">
  <div class="header-wrapper" layout="column" layout-wrap layout-align="center center">
    <div class="logo-right" layout="column" layout-align="center center">
      <img src="images/logo.svg" alt="">
      <span>
        CAMPUS AMBASSADOR PROGRAM
      </span>
    </div>
    <span>BRCA IIT Delhi's</span>
    <h1>Rendezvous 2017</h1>
    <div class="register-button" layout="row" layout-align="center">
      <a class="button btn-color" href="http://bit.ly/rdvcapreg" target="_blank">Register</a>
      <a class="button btn-color" href="images/FAQsRDVcap.pdf" target="_blank">FAQs</a>
    </div>
    <div class="down-arrow " layout="row" layout-align="center center" >
      <a ng-href="#!/home"><img  src="images/down.png" alt=""></a>
    </div>
  </div>
</section>
